:81 {
        @transform_port_query {
                query XTransformPort=*
        }

        @static path /_next/static/* /avatar.jpg /QRIS.jpeg /QRIS.png /favicon.ico /logo.svg /robots.txt
        header @static Cache-Control "public, max-age=31536000, immutable"

        @media path /music.mp3 /click.mp3 /flip.mp3
        header @media Cache-Control "public, max-age=86400"

        handle @transform_port_query {
                reverse_proxy localhost:{query.XTransformPort} {
                        header_up Host {host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
                        header_up X-Real-IP {remote_host}
                }
        }

        handle {
                reverse_proxy localhost:3000 {
                        header_up Host {host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
                        header_up X-Real-IP {remote_host}
                }
        }
}
